* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
  background-color: #fff;
}
@media (max-width: 767px) {
  body {
    background: url("../img/mobilebg.jpg") repeat center;
    background-size: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background: url("../img/mobilebg.jpg") repeat center;
    background-size: 200px;
  }
}

section {
  position: relative;
  margin-top: 50px;
}
section .back-to-top, section .back-to-down {
  position: fixed;
  z-index: 1100;
  height: 50px;
  width: 50px;
  font-size: 20px;
  outline: none;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #5c40ff;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
section .back-to-top:hover, section .back-to-down:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  section .back-to-top:hover, section .back-to-down:hover {
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section .back-to-top:hover, section .back-to-down:hover {
    transform: none;
  }
}
section .back-to-top {
  right: 50px;
  bottom: 130px;
}
section .back-to-down {
  right: 50px;
  bottom: 70px;
}
section .hide {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    max-width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
.container .sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.r-side {
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .r-side {
    margin-left: 420px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .r-side {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .r-side {
    margin-left: 0;
  }
}

.pokedex {
  position: fixed;
  top: 40px;
  left: 50px;
  overflow-x: hidden;
  padding: 10px 15px;
  max-width: 400px;
  min-width: 370px;
  height: max-content;
  min-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .pokedex {
    max-width: 550px;
    position: relative;
    max-width: 720px;
    left: 0;
    top: 0;
    min-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pokedex {
    position: relative;
    max-width: 720px;
    left: 0;
    top: 0;
    min-width: 0;
  }
}
.pokedex .pokemon {
  height: max-content;
  width: 100%;
  max-width: 370px;
  min-width: 300px;
}
.pokedex .search-poke {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pokedex .search-poke .poke-name-input {
  width: 240px;
  height: 40px;
  outline: none;
  border: 1px solid #3a5eff;
  padding-left: 15px;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  background-color: white;
  font-weight: bold;
  text-transform: lowercase;
}
.pokedex .search-poke .search-btn {
  height: 40px;
  width: 70px;
  background-color: #3a5eff;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pokedex .search-poke .search-btn:hover {
  transform: scale(1.1);
  border-radius: 10px;
}
.pokedex .normal {
  background: linear-gradient(225deg, white 390px, #c9c9c9 0);
  border-top: 20px solid #c9c9c9;
  color: #242424;
}
.pokedex .normal .right-top-angle, .pokedex .normal .left-bottom-angle {
  background: linear-gradient(225deg, #c9c9c9 36px, white 0);
  border: none;
}
.pokedex .fighting {
  background: linear-gradient(225deg, white 390px, #4e0000 0);
  border-top: 20px solid #4e0000;
  color: #c95a00;
}
.pokedex .fighting .right-top-angle, .pokedex .fighting .left-bottom-angle {
  background: linear-gradient(225deg, #4e0000 36px, white 0);
  border: none;
}
.pokedex .flying {
  background: linear-gradient(225deg, white 390px, #b0fcff 0);
  border-top: 20px solid #b0fcff;
  color: #242424;
}
.pokedex .flying .right-top-angle, .pokedex .flying .left-bottom-angle {
  background: linear-gradient(225deg, #b0fcff 36px, white 0);
  border: none;
}
.pokedex .poison {
  background: linear-gradient(225deg, white 390px, #5c0057 0);
  border-top: 20px solid #5c0057;
  color: #af00be;
}
.pokedex .poison .right-top-angle, .pokedex .poison .left-bottom-angle {
  background: linear-gradient(225deg, #5c0057 0, 36px, white 0);
  border: none;
}
.pokedex .ground {
  background: linear-gradient(225deg, white 390px, #6e4b00 0);
  border-top: 20px solid #6e4b00;
  color: #d6af00;
}
.pokedex .ground .right-top-angle, .pokedex .ground .left-bottom-angle {
  background: linear-gradient(225deg, #6e4b00 36px, white 0);
  border: none;
}
.pokedex .rock {
  background: linear-gradient(225deg, white 390px, #36322d 0);
  border-top: 20px solid #36322d;
  color: #fc944f;
}
.pokedex .rock .right-top-angle, .pokedex .rock .left-bottom-angle {
  background: linear-gradient(225deg, #36322d 36px, white 0);
  border: none;
}
.pokedex .bug {
  background: linear-gradient(225deg, white 390px, #00ff95 0);
  border-top: 20px solid #00ff95;
  color: #242424;
}
.pokedex .bug .right-top-angle, .pokedex .bug .left-bottom-angle {
  background: linear-gradient(225deg, #00ff95 36px, white 0);
  border: none;
}
.pokedex .ghost {
  background: linear-gradient(225deg, white 390px, #9a00a8 0);
  border-top: 20px solid #9a00a8;
  color: #242424;
}
.pokedex .ghost .right-top-angle, .pokedex .ghost .left-bottom-angle {
  background: linear-gradient(225deg, #9a00a8 36px, white 0);
  border: none;
}
.pokedex .steel {
  background: linear-gradient(225deg, white 390px, #242424 0);
  border-top: 20px solid #242424;
  color: #818181;
}
.pokedex .steel .right-top-angle, .pokedex .steel .left-bottom-angle {
  background: linear-gradient(225deg, #242424 36px, white 0);
  border: none;
}
.pokedex .fire {
  background: linear-gradient(225deg, white 390px, red 0);
  border-top: 20px solid red;
  color: #242424;
}
.pokedex .fire .right-top-angle, .pokedex .fire .left-bottom-angle {
  background: linear-gradient(225deg, red 36px, white 0);
  border: none;
}
.pokedex .water {
  background: linear-gradient(225deg, white 390px, #1100ff 0);
  border-top: 20px solid #1100ff;
  color: #242424;
}
.pokedex .water .right-top-angle, .pokedex .water .left-bottom-angle {
  background: linear-gradient(225deg, #1100ff 36px, white 0);
  border: none;
}
.pokedex .grass {
  background: linear-gradient(225deg, white 390px, #25db00 0);
  border-top: 20px solid #25db00;
  color: #242424;
}
.pokedex .grass .right-top-angle, .pokedex .grass .left-bottom-angle {
  background: linear-gradient(225deg, #25db00 36px, white 0);
  border: none;
}
.pokedex .electric {
  background: linear-gradient(225deg, white 390px, #eeff00 0);
  border-top: 20px solid #eeff00;
  color: #242424;
}
.pokedex .electric .right-top-angle, .pokedex .electric .left-bottom-angle {
  background: linear-gradient(225deg, #eeff00 36px, white 0);
  border: none;
}
.pokedex .psychic {
  background: linear-gradient(225deg, white 390px, #ff00b3 0);
  border-top: 20px solid #ff00b3;
  color: #242424;
}
.pokedex .psychic .right-top-angle, .pokedex .psychic .left-bottom-angle {
  background: linear-gradient(225deg, #ff00b3 36px, white 0);
  border: none;
}
.pokedex .ice {
  background: linear-gradient(225deg, white 390px, #00eeff 0);
  border-top: 20px solid #00eeff;
  color: #242424;
}
.pokedex .ice .right-top-angle, .pokedex .ice .left-bottom-angle {
  background: linear-gradient(225deg, #00eeff 36px, white 0);
  border: none;
}
.pokedex .dragon {
  background: linear-gradient(225deg, white 390px, #ffbb00 0);
  border-top: 20px solid #ffbb00;
  color: #242424;
}
.pokedex .dragon .right-top-angle, .pokedex .dragon .left-bottom-angle {
  background: linear-gradient(225deg, #ffbb00 36px, white 0);
  border: none;
}
.pokedex .dark {
  background: linear-gradient(225deg, white 390px, black 0);
  border-top: 20px solid black;
  color: #818181;
}
.pokedex .dark .right-top-angle, .pokedex .dark .left-bottom-angle {
  background: linear-gradient(225deg, black 36px, white 0);
  border: none;
}
.pokedex .fairy {
  background: linear-gradient(225deg, white 390px, #ffd6a0 0);
  border-top: 20px solid #ffd6a0;
  color: #242424;
}
.pokedex .fairy .right-top-angle, .pokedex .fairy .left-bottom-angle {
  background: linear-gradient(225deg, #ffd6a0 36px, white 0);
  border: none;
}
.pokedex .unknown {
  background: linear-gradient(225deg, white 390px, white 0);
  border-top: 20px solid white;
  color: #242424;
}
.pokedex .unknown .right-top-angle, .pokedex .unknown .left-bottom-angle {
  background: linear-gradient(225deg, white 36px, white 0);
  border: none;
}
.pokedex .shadow {
  background: linear-gradient(225deg, white 390px, #270033 0);
  border-top: 20px solid #270033;
  color: dimgray;
}
.pokedex .shadow .right-top-angle, .pokedex .shadow .left-bottom-angle {
  background: linear-gradient(225deg, #270033 36px, white 0);
  border: none;
}

.pokemon {
  border-radius: 9px;
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}
.pokemon .poke-img img {
  height: 100%;
  width: 200px;
}
.pokemon .poke-name h2 {
  font-size: 36px;
  text-transform: capitalize;
}
.pokemon .poke-stats, .pokemon .poke-abilities {
  text-align: left;
  font-size: 24px;
  z-index: 1000;
  position: relative;
}
.pokemon .poke-stats span, .pokemon .poke-abilities span {
  font-size: 26px;
  font-style: italic;
}
.pokemon .poke-stats {
  text-transform: capitalize;
}
.pokemon .poke-abilities {
  margin-top: 20px;
}
.pokemon .right-top-angle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 900;
}
.pokemon .left-bottom-angle {
  width: 45px;
  height: 45px;
  border-bottom-left-radius: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 900;
}

.pokedex-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pokedex-all .pokemon {
  width: 200px;
  background-color: #fff;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #242424;
}
@media (max-width: 767px) {
  .pokedex-all .pokemon {
    width: 140px;
  }
}
.pokedex-all .pokemon:hover {
  transform: scale(1.1);
}
.pokedex-all .pokemon.active {
  background: #b2ff6a;
}
.pokedex-all .pokemon .poke-img {
  border-radius: 0 50% 50% 50%;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .pokedex-all .pokemon .poke-img {
    width: 80%;
  }
}
.pokedex-all .pokemon .poke-img img {
  height: 100%;
  width: 100px;
}
@media (max-width: 767px) {
  .pokedex-all .pokemon .poke-img img {
    width: 80px;
  }
}
.pokedex-all .pokemon .poke-name h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.load-more {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: white;
  background-color: #416dff;
  transition: all 0.2s ease-in-out;
}
.load-more:hover {
  transform: scale(1.1);
}

/*=============================================================================*/
.normal {
  background: #c9c9c9;
  border-top: 20px solid #c9c9c9;
  color: #242424;
}

.fighting {
  background: #4e0000;
  border-top: 20px solid #4e0000;
  color: #c95a00;
}

.flying {
  background: #b0fcff;
  border-top: 20px solid #b0fcff;
  color: #242424;
}

.poison {
  background: #5c0057;
  border-top: 20px solid #5c0057;
  color: #af00be;
}

.ground {
  background: #6e4b00;
  border-top: 20px solid #6e4b00;
  color: #d6af00;
}

.rock {
  background: #36322d;
  border-top: 20px solid #36322d;
  color: #fc944f;
}

.bug {
  background: #00ff95;
  border-top: 20px solid #00ff95;
  color: #242424;
}

.ghost {
  background: #9a00a8;
  border-top: 20px solid #9a00a8;
  color: #242424;
}

.steel {
  background: #242424;
  border-top: 20px solid #242424;
  color: #818181;
}

.fire {
  background: red;
  border-top: 20px solid red;
  color: #242424;
}

.water {
  background: #1100ff;
  border-top: 20px solid #1100ff;
  color: #242424;
}

.grass {
  background: #25db00;
  border-top: 20px solid #25db00;
  color: #242424;
}

.electric {
  background: #eeff00;
  border-top: 20px solid #eeff00;
  color: #242424;
}

.psychic {
  background: #ff00b3;
  border-top: 20px solid #ff00b3;
  color: #242424;
}

.ice {
  background: #00eeff;
  border-top: 20px solid #00eeff;
  color: #242424;
}

.dragon {
  background: #ffbb00;
  border-top: 20px solid #ffbb00;
  color: #242424;
}

.dark {
  background: black;
  border-top: 20px solid black;
  color: #818181;
}

.fairy {
  background: #ffd6a0;
  border-top: 20px solid #ffd6a0;
  color: #242424;
}

.unknown {
  background: white;
  border-top: 20px solid white;
  color: #242424;
}

.shadow {
  background: #270033;
  border-top: 20px solid #270033;
  color: dimgray;
}

/*# sourceMappingURL=style.css.map */
